:root {
	--light-color: #EAE0D5;
	--base-color: #C6AC8F;
	--dark-color: #22333B;
	--border-color: #0A0908;

	--other-color: #5E503F;
}

body {
	margin: 20px;
	font: 14px "Century Gothic", Futura, sans-serif;
	background-color: var(--base-color);
}

.status {
	margin-bottom: 10px;
}

.game {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.game:focus {
	outline: none;
}

.game-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 30%;
	margin-left: 20px;
}

.grid {
	/* aspect-ratio: 1/1; */
	/* width: 100%; */
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 2px;
	padding: 1px;
	background-color: var(--border-color);
}

.box {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 1px;
	background-color: var(--border-color);
}

.cell {
	/* aspect-ratio: 1/1; */
	height: 1.5em;
	width: 1.5em;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
	color: var(--other-color);
	background-color: var(--base-color);
}

.cell.given {
	font-weight: bold;
	color: var(--light-color);
	background-color: var(--dark-color);
}

.cell.restricted {
	background-color: var(--dark-color);
}

.cell.selected {
	background-color: var(--light-color);
}

.cell.focus {
	background-color: #540B0E;
}

.cell.notes {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.note {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-size: 40%;
	font-weight: bold;
	/* background-color: var(--base-color); */
}

.note.eliminated {
	background-color: #b47e7f;
}

.note.solved {
	background-color: #a8d3b1;
}

.note.highlighted {
	background-color: #b3c7d1;
}

.cell,
.note-option {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

.note-selector {
	display: flex;
	flex-direction: left;
	/* padding: 3px; */
}

.note-option {
	width: 1.5em;
	height: 1.5em;
	margin: 2px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	background-color: var(--other-color);

}

.note-option.selected {
	border-width: 2px;
	background: var(--light-color);
}

.strategy-list {
	width: 25ch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 75%;
}

.strategy-item {
	width: 100%;
	margin-bottom: 0.25ex;
	display: flex;
	flex-direction: left;
}

.strategy-number {
	width: 2.5ch;
	padding: 1px;
	margin-right: 0.5ch;
	text-align: right;
}

.strategy-name {
	width: 18ch;
	padding: 1px;
	color: var(--light-color);
	background-color: var(--other-color);
}