:root {
	--board-border-color: #000;
	--cell-color: #fff;
	--cell-hover-color: #ddd;
	--cell-highlight-color: #ccc;
	--cell-selected-hover-color: #bbb;
}

body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

.status {
	margin-bottom: 10px;
}

.game {
	display: flex;
	flex-direction: row;
}

.game:focus {
	outline: none;
}

.game-info {
	margin-left: 20px;
	width: 100px;
}

.board {
	background: var(--board-border-color);
	display: grid;
	width: 300px;
	height: 300px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 2px;
	padding: 1px;
}

.box {
	background: var(--board-border-color);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1px;
}

.cell {
	background: var(--cell-color);
	display: flex;
	font-size: 18px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}

.cell:hover {
	background: var(--cell-hover-color);
}

.cell.selected {
	background: var(--cell-highlight-color);
}

.cell.selected:hover {
	background: var(--cell-selected-hover-color);
}

.cell.notes {
	font-size: 65%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.note {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.note.basic {
	color: grey;
}

.note.accent {
	color: gold;
}

.note.eliminated {
	color: red;
}

.cell,
.note-option {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}


.note-selector {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 3px;
	padding: 3px;
}

.note-option {
	aspect-ratio: 1/1;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;

}


.note-option:hover {
	background: var(--cell-hover-color);
}

.note-option.selected {
	background: var(--cell-highlight-color);
	border-width: 2px;
}

.note-option.selected:hover {
	background: var(--cell-selected-hover-color);
}